<!DOCTYPE html>
<html>
<head>
  <title>Pragmatic Books Online Store</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
  <div id="banner">
    <div id="logo">
      <%= image_tag("logo.png") %>
    </div>
    <div id="title">
      <%= @page_title || "Pragmatic Bookshelf" %>
    </div>
  </div>
  <div id="columns">
    <div id="side">
      <div id="cart">
        <%= render @cart %>
      </div>

      <ul>
        <li><a href="http://localhost:3000/">HOME</a></li>
        <li><a href="http://www....">FAQ</a></li>
        <li><a href="http://www....">NEWS</a></li>
        <li><a href="http://www....">INQUIRY</a></li>
      </ul>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
